*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Скрытые элементы */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

/* Стили для главного блока */

.content {
  display: flex;
  margin: 0 auto;
  width: 1140px;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Стили поля */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.search-form__fieldset-title,
.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.search-form__textfield {
  appearance: none;
  background-color: transparent;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  width: 225px;
  font-family: inherit;
  font-size: inherit;
  color: rgba(255, 255, 255, 0.70);
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.70);
}

.search-form__textfield:active {
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:has(:focus-visible) {
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

/* Стили чекбокса */

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label:hover:has(.search-form__pseudo-checkbox) {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  margin-right: 5px;
}

.search-form__checkbox[type='checkbox']:checked + .search-form__pseudo-checkbox  {
  background-color: #FFF;
  border: 2px solid black;
  outline: 1px solid #FFF;
  outline-offset: -1px;
}

/* Общие стили для кнопок */

.button {
  display: flex;
  min-height: 34px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 700;
} 

/* Стили для кнопок */

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

/* Кнопка найти */

.search-form__submit-button {
  min-width: 194px;
}

.search-form__submit-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Стили для списка видео */

.content__details {
  height: 100%;
  display: flex;
  gap: 21px;
  flex-direction: column;
  width: 100%;
}

.content__list {
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.title,
.content__video-card-title  {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  color: #FFF;
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__video-card-title {
  font-size: 30px;
  line-height: 30px;
  margin-top: 2px;
}

.content__video-card-description {
  line-height: 16.2px;
  margin-top: 5px;
}

.content__card-link_current:first-of-type {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background: #545050;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
  outline-offset: 0;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

/* Стили для кнопки Ещё */

.more-button {
  min-width: 399px;
}

.more-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.more-button:active {
  text-decoration: none;
}
